<div class="select">
  <select id="order">Menu déroulant
    <option value="default" (click)="alpha()">Class by alphabetical order</option>
    <option value="pop" (click)="pop()">Class by popularity</option>
    <option value="prol" (click)="prol()">Class by number of twits</option>
  </select>
  <div class="select_arrow"></div>
</div>
<div id ="message"></div>
<table>
  <thead>
    <tr>
      <th>List of users</th>
      <th id="test">Follow / Unfollow</th>
      <th>Block / Unblock</th>
    </tr>
  </thead>
  <tbody *ngFor="let user of users" id="{{user._id}}">
    <tr>
      <p *ngIf="user.username!=currentUser;then show"></p>
      <ng-template #show>
      <td (click)="detailer(user)">{{ user.username }} - {{ user.followedBy.length }} follower(s)</td>

      <p *ngIf="user.followedBy.length>0;then loop else noloop"></p>

      <ng-template #loop>
        <div *ngFor="let followed of user.followedBy; let i = index">
          <td>
            <button *ngIf="currentUser==followed"
              (click)="unfollow(user.username)"> Unfollow {{ user.username }}</button>
            <button *ngIf="i+1==user.followedBy.length && currentUser != followed"
              (click)="follow(user.username)">
               Follow {{user.username}} </button>
          </td>
        </div>
      </ng-template>

      <ng-template #noloop>

        <td>
          <button (click)="follow(user.username)">Follow {{ user.username }}</button>
        </td>
      </ng-template>

      <p *ngIf="blocked.length>0;then bloop else nobloop"></p>

      <ng-template #bloop>

        <td *ngFor="let userBlocked of blocked; let i = index">
          <button *ngIf="user.username==userBlocked"
            (click)="unblock(user.username)"> Unblock {{ user.username }}</button>
          <button *ngIf="i+1==blocked.length && user.username != userBlocked"
            (click)="block(user.username)">
             Block {{user.username}} </button>
        </td>
      </ng-template>

      <ng-template #nobloop>

        <td>
          <button (click)="block(user.username)">Block {{ user.username }}</button>
        </td>
      </ng-template>
    </ng-template>
    </tr>
  </tbody>
</table>
<app-user-detail [user]="selectedUser" [test]="test1"></app-user-detail>
