#container{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

h2 {
    color: #723a3a;
    display: flex;
    justify-content: space-around;
}

.currentUser_element:nth-child(1)
{
  flex-basis: 100%;
}

@media screen and (max-width: 640px) {
  table,
  tbody,
  tr,
  td {
    display: block;
    width: auto;
    /* parceque tu as mis des style inline grrr */
  }
}
