<h2>Dashboard</h2>
<div id="container">
    <table id="twits" class="currentUser_element">
      <thead>
        <tr>
          <th>My Twits</th>
        </tr>
      </thead>
      {{ postMessage }}
      <div *ngIf="posts">
      <tbody *ngFor="let twit of posts" id="{{twit._id}}">
        <tr>
          <td>{{ twit.content }}</td>
        </tr>
        <tr>
          <td>{{ twit.date | date: 'H\'h\'mm dd/MM/yyyy'}}</td>
        </tr>
        <tr>
          <td>
            <a [routerLink]='["/edit_post", twit._id]'>edit</a>
            <button (click)="delete(twit._id)" class="delete_button">delete</button>
          </td>
        </tr>
        <br>
      </tbody>
    </div>
    </table>
  <table id="followers" class="currentUser_element">
    <thead>
      <tr>
        <th>Followers</th>
      </tr>
    </thead>
    {{ followerMessage }}
    <tbody *ngIf="followers != ''">
      <tr *ngFor="let user of followers" id="{{ user }}follower">
        <td>{{ user }}</td>
      </tr>
    </tbody>
  </table>
  <table id="follow" class="currentUser_element">
    <thead>
      <tr>
        <th>Users you're following</th>
      </tr>
    </thead>
    {{ followedMessage }}
    <tbody *ngIf="followed != ''">
      <tr *ngFor="let user of followed" id="{{ user }}followed">
        <td>{{ user }}</td>
        <td>
          <button type="button" (click)="unfollow(user)">unfollow</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-file-upload></app-file-upload>
