{{ message }}
<div *ngIf="posts" >
  <table>
    <tbody *ngFor="let twit of allPosts; let i = index">
      <th>{{ twit.author }} posted</th>
      <tr>{{ twit.content }}<br>{{ twit.date | date: 'H\'h\'mm dd/MM/yyyy' }}</tr>
    </tbody>
  </table>
</div>

<!-- <div *ngIf="posts" >
  <table *ngFor="let post of posts">
    <tbody *ngFor="let twit of post; let i = index">
      <th *ngIf="i<1">{{ twit.author }}'s posts'</th>
      <tr>{{ twit.content }}<br>{{ twit.date | date: 'H\'h\'mm dd/MM/yyyy' }}</tr>
    </tbody>
  </table>
</div> -->
