<div>
    <h1>Login Form</h1>
    {{ message }}
    <p>Not registerd yet ?
      <a routerLink="/register">Register</a>
    </p>
    <div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" #login = "ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" required placeholder="username"
        [(ngModel)]="model.username" name="username"
        #username="ngModel">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" required placeholder="password"
        [(ngModel)]="model.password" name="password">
        <label for="remember">Remember me</label>
        <input type="checkbox" class="form-control" id="remember" name="remember" (click)="onRemember()">
      </div>

      <button type="submit" class="btn btn-success"
              [disabled]="!login.form.valid">Login</button>

    </form>
  </div>
</div>
