#app{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

#result{
  background-color: green;
}

.element:nth-child(1)
{
  flex-basis: 100%;
  min-height: 20%;
  background: linear-gradient(to bottom, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%);
}

.element:nth-child(4){
  flex-basis: 20%;
  height: 75%;
  /*order: 3;*/
  background: linear-gradient(to bottom, #b0d4e3 0%,#88bacf 100%);
  font-size: 10px;
}

.element:nth-child(3), .element:nth-child(2){
    flex-basis: 75%;
    height: 75%;
    /*order: 2;*/
    background: linear-gradient(to bottom, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
    font-size: 12px;
  }

#header{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header_element:nth-child(1){
  align-self: center;
}

.hiddenMenu {
  display: none;
}

li:hover .hiddenMenu{
  display: block;
}

#navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  /*justify-content: space-around;*/
}

.navbar_element:nth-child(1)
{
  flex:1;
  order: 3;
}
.navbar_element:nth-child(2)
{
  flex: 1;
  order: 1;
}
.navbar_element:nth-child(3)
{
  flex: 3;
  order: 2;
}

button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 6px 23px 6px 23px;
  text-decoration: none;
}

button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.navbutton {
  background: #d93434;
  background-image: -webkit-linear-gradient(top, #d93434, #b82b7d);
  background-image: -moz-linear-gradient(top, #d93434, #b82b7d);
  background-image: -ms-linear-gradient(top, #d93434, #b82b7d);
  background-image: -o-linear-gradient(top, #d93434, #b82b7d);
  background-image: linear-gradient(to bottom, #d93434, #b82b7d);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 3px 3px 3px 3px;
  text-decoration: none;
}

.linkbutton {
  background: #90e8c6;
  background-image: -webkit-linear-gradient(top, #90e8c6, #4ab82c);
  background-image: -moz-linear-gradient(top, #90e8c6, #4ab82c);
  background-image: -ms-linear-gradient(top, #90e8c6, #4ab82c);
  background-image: -o-linear-gradient(top, #90e8c6, #4ab82c);
  background-image: linear-gradient(to bottom, #90e8c6, #4ab82c);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 3px 3px 3px 3px;
  text-decoration: none;
}

#title1{
  font-family: Rockwell Extra Bold,Rockwell Bold,monospace;
}

textarea{
  width: 70%;
  height: 70px;
}

@media screen and (max-width: 640px) {

  #navbar{
    flex-direction: column;
  }

  .navbar_element:nth-child(1)
  {
    flex:1;
    order: 1;
  }
  .navbar_element:nth-child(2)
  {
    flex: 1;
    order: 3;
  }
  .navbar_element:nth-child(3)
  {
    flex: 3;
    order: 2;
  }

  #title{
    font-size: 16px;
  }

  #links{
    display: inline-block;
  }

  .element:nth-child(3){
      flex-basis: 100%;
    }
  .element:nth-child(4){
    display: none;
  }
  img{
    display: none;
  }
  button {
    padding: 5px 15px 5px 15px;
    font-size: 10px;
  }

}
