<div id="app">
  <header id="header" class="element">
    <h1 class="header_element" id="title1">MicroBloggos</h1>
    <div *ngIf="username" id="navbar" class="header_element">
      <div class="navbar_element">
        <a routerLink="/current_user">
          <img src="https://www.gravatar.com/avatar/{{hash}}">
        </a>
        <br>
        <button [routerLink]='["/current_user"]' class="navbutton">{{ username }}</button>
        <button (click)="logout()" class="navbutton">Logout</button>
        <button [routerLink]='["/edit_user"]' class="navbutton">Edit profile</button>
      </div>
      <div id="links" class="navbar_element">
        <a routerLink="/users"><button class="linkbutton">Users</button></a>
        <a routerLink="/new_post"><button class="linkbutton">New post</button></a>
        <a routerLink="/followed"><button class="linkbutton">My followed twit</button></a>
      </div>
      <div id="search_hash" class="navbar_element">
        <input type="text" placeholder="search by hashtags"
        [(ngModel)]="searchBar">
        <button type="submit" (click)="onSubmit()">Search</button>
        {{ err }}
      </div>
    </div>
  </header>
  <div id="result" class="element"></div>
  <div id="router-outlet" class="element">
    <router-outlet></router-outlet>
  </div>
  <div *ngIf="username" id="thread" class="element">
    <h3>Last twits</h3>
    <table *ngFor="let post of posts; let i=index">
        <tr *ngIf="i<5">{{ post.content | slice:0:100}}</tr>
        <tr *ngIf="i<5"><i> by {{ post.author }}</i></tr>
        <tr *ngIf="i<5"><i>{{ post.date | date: 'H\'h\'mm dd/MM/yyyy'}}</i></tr>
        <br>
    </table>
  </div>


</div>
