<div>
    <h1>New Post</h1>
    {{ message }}
    <div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" #post = "ngForm">

      <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control" id="content" required placeholder="content"
        [(ngModel)]="model.content" name="content" maxlength="140"></textarea>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!post.form.valid">Submit</button>

    </form>
  </div>
</div>
