fieldset {
 padding:0 20px 20px 20px;
 margin-bottom:10px;
 border:1px solid #DF3F3F;
 }
legend {
 color:#DF3F3F;
 font-weight:bold
 }
label {
 margin-top:10px;
 display:block;
 }
label.inline {
 display:inline;
 margin-right:50px;
 }

 .ng-valid[required], .ng-valid.required  {
   border-left: 5px solid #42A948; /* green */
 }

 .ng-invalid:not(form)  {
   border-left: 5px solid #a94442; /* red */
 }
