<div>
    <h1>Register Form</h1>
    {{ message }}
    <!-- {{ diagnostic }} -->
    <p>Already registerd ?
      <a routerLink="/login">Login</a>
    </p>
    <div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" #register = "ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" required placeholder="username"
        [(ngModel)]="model.username" name="username"
        #username="ngModel">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" required placeholder="email"
        [(ngModel)]="model.email" name="email">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" required placeholder="password"
        [(ngModel)]="model.password" name="password">
      </div>

      <div class="form-group">
        <label for="password">Confirm Password</label>
        <input type="password" class="form-control" id="conf_password" required placeholder="confirm password"
        [(ngModel)]="conf_pass" name="conf_pass">
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!register.form.valid">Submit</button>

    </form>
  </div>
</div>
